@charset "UTF-8";
	.join_wrap{
		max-width:600px;
		width:100%;
		margin:50px auto;
	}
	
	.join_from_wrap{
		width:100%;
		border:1px solid #efefef;
		border-radius: 10px;
		overflow:hidden;
	}
	
	.join_head{
		padding:10px;
		background-color:#2e4162;
		color:#fff;
		font-size:15px;
	}
	
	.join_from_wrap ul > li{
		padding:10px;
		border-bottom:1px solid #efefef;
	}
	
	
	
	.join_from_wrap ul > li:last-child{
		border-bottom:0;
	}
	
	
	ul li .join_tr::after{
		display:block;
		clear:both;
		content:"";
	}
	ul li .join_tr > div{
		float:left;
		font-size:14px;
		height:30px;
		line-height:30px;
	}
	
	ul li .join_tr > div.join_th{
		font-weight:700;
		color:#2e4162;
		width:20%;
	}
	
	ul li .join_tr > div.join_td{
		line-height:0;
		width:80%;
	}
	ul li .join_tr > div.join_td input{
		height:100%;
		width:50%;
		padding:0 5px;
		vertical-align: top;
	}
	
	ul li .join_tr > div.info_ex{
		padding-top:10px;
		margin-top:10px;
		border-top:1px solid #efefef;
		width:100%;
		height:auto;
	}
	
	.join_wrap input{
		border:1px solid #ddd;
		padding:0;
		margin:0;
	}
	.join_wrap label{
		display:block;
		width:100%;
		height:100%;
	}
	.join_wrap button{
		width:150px;
		border:1px solid #efefef;
		border-radius: 5px;
		height:30px;
		cursor:pointer;
		background-color:#00aef0;
		color:#fff;
		font-weight:700;
	}
	.join_wrap button:hover{
		background-color:#2e4162;
	}
	
	.join_wrap .txt{
		font-size:12px !important;
	}
	
	.join_btn_wrap{
		padding:20px 0;
		text-align:center;
	}
	.join_btn_wrap a{
		display:inline-block;
		vertical-align:top;
		width:150px;
		border:1px solid #efefef;
		border-radius: 5px;
		height:30px;
		line-height:30px;
		cursor:pointer;
		background-color:#2e4162;
		color:#fff;
		font-weight:700;
		font-size:13px;
	}
	.passChk{
		line-height: 28px;
	}
	.passChk.success{
		color:#00aef0;
	}
	.passChk.warning{
		color:red;
	}
	
	.join_btn_wrap a:hover{
		background-color:#00aef0;
	}
	
	
	/* join ok form */
	.join_welcome{
		max-width:700px;
		width:100%;
		margin:100px auto 0;
		border:1px solid #efefef;
	}

	.jwc_head{
		color:#fff;
		background-color:#00aef0;
		padding:5px 10px;
		font-size:15px;
	}

	.jwc_info > div{
		padding:10px;
	}
	.jwc_id{
		font-size:14px;
	}
	.jwc_id span{
		font-weight:700;
	}
	
	div.jwc_info_head{
		padding:5px 10px;
		color:#fff;
		background-color:#bee0ec;
	}
	.jwc_info_head h4{
		font-size:14px;
	}
	
	.jwc_info ul li{
		padding:5px 0;
		border-bottom:#ccc;
		
	}
	.jwc_info ul li::after{
		display:block;
		clear:both;
		content:"";
	}
	.jwc_info ul li p{
		float:left;
		
	}
	.jwc_info ul li span{
		vertical-align:top;
		font-size:13px;
		text-align:center;
	}
	.jwc_info ul li .th{
		display:inline-block;
		width:80px;
		height:100%;
		font-weight:700;
		
	}
	.jwc_btn{
		padding:10px;
		text-align:center;
	}
	.jwc_btn a{
		
		font-size:13px;
		font-weight:700;
		color:#fff;
		display:inline-block;
		padding:5px 15px;
		background-color:#2e4162;
		margin:0 3px;
	}